{# Inclui o template principal nesta página #}
{% extends '_template.html' %}

{# Bloco com conteúdo desta página #}
{% block conteudo %}

<h2>Novo Treco</h2>

<p>Preencha todos os campos para cadastrar um novo treco.</p>

<form method="POST" action="{{ url_for('novo') }}" enctype="multipart/form-data">
    <label for="foto">Foto do Acessório</label>
    <input type="file" name="foto" id="foto" required>

    <label for="nome">Nome do Acessório</label>
    <input type="text" name="nome" id="nome" required>

    <label for="descricao">Descrição</label>
    <textarea name="descricao" id="descricao" required></textarea>

    <label for="localizacao">Localização</label>
    <input type="text" name="localizacao" id="localizacao" required>

    <label for="material">Material</label>
    <input type="text" name="material" id="material" required>

    <label for="tipo">Tipo de Acessório</label>
    <select name="tipo" id="tipo" required>
        <option value="colar">Colar</option>
        <option value="brinco">Brinco</option>
        <option value="pulseira">Pulseira</option>
        <!-- Outros tipos -->
    </select>

    <button type="submit">Cadastrar Acessório</button>
</form>


{% if sucesso %}

<dialog id="myDialog">
    <h4>Legal!</h4>
    <p>Seu novo treco foi cadastrado!</p>
    <form method="dialog">
        <button>OK</button>
    </form>
</dialog>
<script>myDialog.showModal()</script>

{% endif %}

{% endblock %}